[submodule "tauschen/tauschen"]
	path = tauschen/tauschen
	url = git@git.mafiasi.de:mafiasi-ag/Mafiasi-Tauschen.git
[submodule "tauschen/directory"]
	path = tauschen/directory
	url = git@git.mafiasi.de:mafiasi-ag/mafiasi-directory.git
