[submodule "tauschen/tauschen"]
	path = tauschen/tauschen
	url = git@git.mafiasi.de:mafiasi-ag/Mafiasi-Tauschen.git
[submodule "tauschen/directory"]
	path = tauschen/directory
	url = git@git.mafiasi.de:mafiasi-ag/mafiasi-directory.git
[submodule "pizza"]
	path = pizza
	url = git@github.com:SocialSaturdayCoding/Apos-Container.git
[submodule "joinoeinf/join.oeinf.de"]
	path = joinoeinf/join.oeinf.de
	url = git@git.mafiasi.de:oe/join.oeinf.de.git
[submodule "preoerb/oerb"]
	path = preoerb/oerb
	url = git@git.mafiasi.de:oe/oerb.git
[submodule "oestatus/oestatus-v3"]
	path = oestatus/oestatus-v3
	url = git@git.mafiasi.de:oe/oestatus-v3.git
[submodule "stammbaum/stammbaum"]
	path = stammbaum/stammbaum
	url = git@git.mafiasi.de:oe/stammbaum.git
[submodule "mensautils/mensa-utils"]
	path = mensautils/mensa-utils
	url = git@git.mafiasi.de:mafiasi-ag/mensa-utils.git
[submodule "familiendoell/familiendOEll-auswerter"]
	path = familiendoell/familiendOEll-auswerter
	url = git@git.mafiasi.de:oe/familiendOEll-auswerter.git
	branch = master
[submodule "engelsystem/engelsystem"]
	path = engelsystem/engelsystem
	url = git@github.com:engelsystem/engelsystem.git
[submodule "oe-stundenplan/oe-stundenplan"]
	path = oe-stundenplan/oe-stundenplan
	url = git@git.mafiasi.de:oe/oe-stundenplan.git
