# This file contains pinned requirements from the old container
Django==1.11.29
django-auth-ldap==1.2.16
django-guardian==1.4.9
django-ldapdb==0.9.0
mutagen==1.38
prettytable==0.7.2
psycopg2-binary==2.8.6
requests==2.20.0
sentry-sdk==0.19.1
uWSGI==2.0.15
